@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


// Import partials.
@import
  "partials/base",
  "partials/layout",
  "partials/syntax-highlighting"
;



/**
 * Basic styling
 */
 body {
  font-family: $base-font-family;
  color: $dark;
  background-color: $background-color;
  display: flex;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
}


img {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  padding: 20px 0;
}

p {
  @include defaultparagraph;
}

h1 {
  color: $main-color;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 10px;
  font-weight: 400;
  color: $dark;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding-bottom: 10px;
  color: $dark;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

a:link {
  text-decoration: none
}

a:hover {
  color: $main-color;
}

a:active {
  color: $dark-yellow;
}

a:visited {
  color: $dark;
}

hr {
  border-color: #f4f4f4;
  color: #f4f4f4;
  background-color: #f4f4f4;
}

figcaption {
  font-size: 12px;
  font-weight: 16px;
  text-align: right;
  color: $light-grey;
  padding-top: 10px;
}

.content-wrapper {
  padding: $page-margins;
}

.page-title {
  @include page-title;
}



/**
 * Header
 */


 header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2% 6%; 
  position: fixed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
    div {
      width: 40%;
      a {
        font-size: 20px;
        letter-spacing: 6px;
        color: $dark;
      }
      p {
        color: $light-grey;
      }
    }
    &
    nav {
      width: 60%;
      ul {
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;

        li {
          text-align: right;
          display: block;
          white-space: nowrap;
          a {
            color: $dark;
            font-size: 20px;
          }
        }
      }
    }
  }


/**
 * Footer
 */

 footer {
  background: $dark;
  width: 100%;
  height: 80px;
  margin-top: 5%;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 2% 4%;
    li {
      @include smalltext;
      color: $white;
      padding: 4px;
      a {
        color: $white;
      }
    }
  }
}


/**
 * Homepage + Featured Images
 */


 .greeting {
   padding-bottom: 40px;
  p {
    color: grey;
    font-size: 20px;
    line-height: 28px;
  }
}

.featured {
padding: 0 0 20px 0;

  .image-container {
  @include image-container;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  height: 200px;
  }

  &
  .text-container {
    width: 100%;
    padding: 5% 0 0 5%;
      a {
        h4 {
          color: $main-color;
          font-weight: 600;
          font-weight: 500;
          padding-top: 20px;
        }
      }
    }

}



/**
* Work
*/

.cases-wrapper {
  width: 100%;
    figure {
      h3 {
        padding: 0px 0 40px 0;
        text-align: center;
      }
    }
  }
  


/**
* Project Detail
*/

.top-cases {
  padding-bottom: 40px;
  figure {
    padding: 20px 0;
  }
  &
  .details { 
    text-align: right;
  }
}

.section-wrapper {
  padding: 20px 0;
  .block {
    padding: 10px 10px;
    h2 {
      color: $main-color;
    }
    div {
      padding: 20px 0 0 30px;
      div {
        padding: 10px 0 30px 0;
      }
    }
    ul {
      list-style: square;
      p {
        color: $light-grey;
        font-size: 14px;
        line-height: 18px;
        padding: 5px 0;
      }
      .personas {
        div {
          width: 100%;
          padding-left: 10px;
        }
      }
      .quotes {
          padding: 30px 0 20px 0px;
          list-style: none;
          q {
            color: $main-color;
            font-size: 18px;
            line-height: 24px;
          }
      }
    }
    ol {
      @extend ul;
      list-style: decimal;
    }
  }
}

.section-wrapper {
  padding: 20px 0;
}






/**
* About
*/


.about {
  padding: 20px 0;
  h2 {
    font-weight: 600;
    color: $main-color;
  }
  .block {
    width: 100%;
    padding: 10px 0;
    h3 {
      font-weight: 600;
      padding: 5px 0;;
    }
    date {
      color: $light-grey;
    }
    p {
      color: $light-grey;
    }
  }
}

.top-greeting {
  padding-bottom: 60px;
  figure {
    @include image-container;
  }
}


/**
* Contacts
*/

.contacts {
    display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 40px 0 100px 0;
}



/**
* Social
*/

.social {
  list-style: none;
  padding-top: 40px;
  h4 {
    padding: 40px 0 20px 0;
  }
  h3 {
    padding-bottom: 15px;
    a {
      text-decoration: none;
      color: $light-grey;
    }
    a:hover {
      color: $main-color;
    }
  }
  div {
    ul {
      list-style: none;
      li {
        padding: 5px 0;
        a {
          display: flex;
          fill: $main-color;
          
          div {
            padding-right: 10px;
          }
        }
        a:hover {
          color: $main-color;
          fill: $dark-yellow; 
        }
      }
    }
  }
}


/**
* MEDIA QUERY DESKTOP
***************************************************/

@media only screen and (min-width: 600px) {

  .content-wrapper {
    padding: $page-margins-desktop;
  }

  p {
    @include defaultparagraph-desktop;
  }


h1 {
  color: $main-color;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  padding-bottom: 20px;
}


h2 {
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 10px;
  font-weight: 400;
  color: $dark;
}

  h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 10px;
    color: $dark;
  }

/**
 * Header
 */


 header {
  flex-wrap: nowrap;
  flex-direction: row;
    div {
      width: 60%;
      a {
        font-size: 28px;
        letter-spacing: 8px;
      }
    }
    &
    nav {
      width: 40%;
      ul {
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
        li {
          display: block;
          white-space: nowrap;
          padding: 0 10px;
          a {
            font-size: 28px;
          }
          a:hover {
            color: $main-color;
          }
          a:active {
            color: $dark-yellow;
          }
        }
      }
    }
  }

  /**
 * Footer
 */

 footer {
  ul {
    flex-direction: row;
  }
}



 


/**
 * Homepage + Featured Images
 */



 .greeting {
  p {
    color: grey;
    font-size: 28px;
    line-height: 32px;
  }
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;

  .image-container {
    @include image-container;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 320px;
    display: block;
    overflow: hidden;

    img:hover {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      transform: scale(1.05);
    }
 }

 .text-container {
   padding: 0 0 0 5%;
    a {
      h4 {
        color: $main-color;
        font-weight: 600;
        font-weight: 500;
        padding-top: 20px;
        transition: padding ease 1s;
      }
      h4:hover {
        padding-left: 10px;
      }
    }
  }


}



/**
* About
*/


.about {
  .block {
    width: 80%;
  }
}

.top-greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  div {
    padding: 40px;
  }
}



/**
* Work
*/

  
  .cases-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "figure figure";
    column-gap: 5%;
    padding-top: 20px;
      figure {
        a {
          h3 {
            text-align: left;
            transition: padding ease 1s;
          }
          h3:hover {
            color: $main-color;
            padding-left: 10px;
            color: $page-margins;
          }
        }   
        
      }

    }

      


/**
* Project Detail
*/


.section-wrapper {
  .block {
    padding: 20px 0;
    width: 80%;
    div {
      padding: 20px 0 0 80px;
    }
    ul {
      padding-left: 20px;
      .personas {
        display: flex;
        align-items: center;
        div {
          padding-left: 40px;
        }
      }
      .quotes {
          q {
            font-size: 22px;
            line-height: 30px;
          }
      }
    }
  }
}



    

}